html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #656565;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #353535;
}

nav:nth-child(1) {
    padding-left: 25px;
}

nav:nth-child(5) {
    float: right;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #353535;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #717171;
}

.TeamList {
    width: 700px;
    display: flex;
    align-items: center;
}

.addTeam {
    background-color: gray;
    font-size: 24px;
    color: white;
}

.noTeams {
    align-self: center;
    font-weight: bolder;
}

#teamBuilder {
    display: grid;
    grid-template-areas:
        "name"
        "team_builder";
}

#teamBuilder label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    /* float: left; */
    color: white;
}

#teamBuilder input[type=text] {
    float: left;
}

content {
    /* display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "labels inputs"
        "submit submit"; */
    height: 300px;
    width: 700px;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#user,
#pass,
#pass2,
#oldpass,
#newpass,
#newpass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus #oldpass:focus,
#newpass:focus,
#newpass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.team {
    width: 120px;
    background-color: rgb(190, 189, 189);
    display: grid;
    grid-template-rows: 50%, 50%;
    grid-template-areas:
        "name"
        "sprites";
}

.teamName {
    grid-area: name;
    vertical-align: middle;
}

.partySprites {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#teamForm {
    width: 700px;
    height: 500px;
}

.member {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-areas:
        "member_number member_number member_number member_number member_number member_number member_number"
        "species types level level level level level"
        "sprite sprite base_HP HP_IVs HP_EVs final_HP final_HP"
        "sprite sprite base_attack attack_IVs attack_EVs final_attack move_1"
        "sprite sprite base_defense defense_IVs defense_EVs final_defense move_2"
        "sprite sprite base_special_attack special_attack_IVs special_attack_EVs final_special_attack move_3"
        "nickname ability base_special_defense special_defense_IVs special_defense_EVs final_special_defense move_4"
        "nature item base_speed speed_IVs speed_EVs final_speed final_speed";
}

.memberNumber {
    grid-area: member_number;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speciesSelector {
    grid-area: species;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nicknameBar {
    grid-area: nickname;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sprite {
    grid-area: sprite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.types {
    grid-area: types;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.levelBar {
    grid-area: level;
    display: flex;
    align-items: center;
}

.abilitySelector {
    grid-area: ability;
    display: flex;
    align-items: center;
    justify-content: center;
}

.natureSelector {
    grid-area: nature;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemSelector {
    grid-area: item;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baseHP {
    grid-area: base_HP;
    display: flex;
    align-items: center;
}

.baseAttack {
    grid-area: base_attack;
    display: flex;
    align-items: center;
}

.baseDefense {
    grid-area: base_defense;
    display: flex;
    align-items: center;
}

.baseSpecialAttack {
    grid-area: base_special_attack;
    display: flex;
    align-items: center;
}

.baseSpecialDefense {
    grid-area: base_special_defense;
    display: flex;
    align-items: center;
}

.baseSpeed {
    grid-area: base_speed;
    display: flex;
    align-items: center;
}

.HPIVBar {
    grid-area: HP_IVs;
    display: flex;
    align-items: center;
}

.attackIVBar {
    grid-area: attack_IVs;
    display: flex;
    align-items: center;
}

.defenseIVBar {
    grid-area: defense_IVs;
    display: flex;
    align-items: center;
}

.specialAttackIVBar {
    grid-area: special_attack_IVs;
    display: flex;
    align-items: center;
}

.specialDefenseIVBar {
    grid-area: special_defense_IVs;
    display: flex;
    align-items: center;
}

.speedIVBar {
    grid-area: speed_IVs;
    display: flex;
    align-items: center;
}

.HPEVBar {
    grid-area: HP_EVs;
    display: flex;
    align-items: center;
}

.attackEVBar {
    grid-area: attack_EVs;
    display: flex;
    align-items: center;
}

.defenseEVBar {
    grid-area: defense_EVs;
    display: flex;
    align-items: center;
}

.specialAttackEVBar {
    grid-area: special_attack_EVs;
    display: flex;
    align-items: center;
}

.specialDefenseEVBar {
    grid-area: special_defense_EVs;
    display: flex;
    align-items: center;
}

.speedEVBar {
    grid-area: speed_EVs;
    display: flex;
    align-items: center;
}

.finalHP {
    grid-area: final_HP;
    display: flex;
    align-items: center;
}

.finalAttack {
    grid-area: final_attack;
    display: flex;
    align-items: center;
}

.finalDefense {
    grid-area: final_defense;
    display: flex;
    align-items: center;
}

.finalSpecialAttack {
    grid-area: final_special_attack;
    display: flex;
    align-items: center;
}

.finalSpecialDefense {
    grid-area: final_special_defense;
    display: flex;
    align-items: center;
}

.finalSpeed {
    grid-area: final_speed;
    display: flex;
    align-items: center;
}

.moveSelector1 {
    grid-area: move_1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moveSelector2 {
    grid-area: move_2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moveSelector3 {
    grid-area: move_3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moveSelector4 {
    grid-area: move_4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#premiumWindow {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "description"
        "toggle";
}

#text {
    grid-area: description;
    align-self: center;
}

#toggle {
    grid-area: toggle;
    width: 100px;
}

#calculator {
    display: grid;
    grid-template-rows: 34% 12% 50%;
    grid-template-columns: 1/3 1/3 1/3;
    grid-template-areas:
        "moveHighlightersA moveHighlightersA moveHighlightersA moveHighlightersB moveHighlightersB moveHighlightersB"
        "calcs calcs calcs calcs calcs calcs"
        "dataA dataA field field dataB dataB";
}

#pokemon1moves {
    grid-area: moveHighlightersA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pokemon2moves {
    grid-area: moveHighlightersB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}

#fieldStates {
    grid-area: field;
    display: grid;
    grid-template-areas:
        "weather weather"
        "terrain terrain"
        "side1 side2";
}

#weather {
    grid-area: weather;
    display: inline-block;
}

#terrain {
    grid-area: terrain;
    display: inline-block;
}

#calcs {
    grid-area: calcs;
    align-content: center;
}

.pokemonData {
    display: grid;
    grid-template-areas:
        "species species species species species"
        "level level level level level"
        "ability ability ability ability ability"
        "nature nature nature nature nature"
        "item item item item item"
        "base_HP HP_IVs HP_EVs final_HP"
        "base_attack attack_IVs attack_EVs final_attack attack_stage"
        "base_defense defense_IVs defense_EVs final_defense defense_stage"
        "base_special_attack special_attack_IVs special_attack_EVs final_special_attack special_attack_stage"
        "base_special_defense special_defense_IVs special_defense_EVs final_special_defense special_defense_stage"
        "base_speed speed_IVs speed_EVs final_speed speed_stage"
        "currHP_number currHP_number currHP_Percentage currHP_Percentage currHP_Percentage"
        "moves moves moves moves moves";
}

.attackStageBar {
    grid-area: attack_stage;
}

.defenseStageBar {
    grid-area: defense_stage;
}

.specialAttackStageBar {
    grid-area: special_attack_stage;
}

.specialDefenseStageBar {
    grid-area: special_defense_stage;
}

.speedStageBar {
    grid-area: speed_stage;
}

.currHP {
    grid-area: currHP_number;
}

.currHPPercentageBar {
    grid-area: currHP_Percentage;
    float: left;
}

#moves {
    grid-area: moves;
    display: flex;
    flex-direction: column;
}
